<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Categorias</h1>
                <div style="margin-top: 15px;">
                    <button class="btn btn-success" data-toggle="modal" data-target="#modal-default" ng-click="CategoriaCtrl.modoEdicao = false;">Adicionar categoria</button>
                </div>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{{CategoriaCtrl.Util.POINT}}">Resumo</a></li>
                    <li class="breadcrumb-item active">Categorias</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Categorias cadastradas</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Nome</th>
                                    <th>Editar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="categoria in CategoriaCtrl.Categoria.list">
                                    <td>{{categoria.id}}.</td>
                                    <td>{{categoria.nome}}</td>
                                    <td>
                                        <button class="btn btn-default" title="editar categoria" ng-click="CategoriaCtrl.update(categoria)"><i class="fas fa-edit"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal cadastro categoria -->
<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span ng-if="!CategoriaCtrl.modoEdicao">Nova Categoria</span>
                    <span ng-if="CategoriaCtrl.modoEdicao">Editar Categoria</span>
                </h4>
                <button type="button" class="close" ng-click="CategoriaCtrl.closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="col-md-8">
                        <label for="nomeCategoria">Título da Categoria</label>
                        <input type="text" class="form-control" maxlength="45" required
                            ng-model="CategoriaCtrl.Categoria.selected.nome" placeholder="Sapatos" id="nomeCategoria">
                    </div>
                    <div class="col-md-4">
                        <label for="categoriaPai">Categoria Mãe</label>
                        <select name="categoriaPai" id="categoriaPai"
                            ng-model="CategoriaCtrl.Categoria.selected.idCategoriaPai" class="form-control">
                            <option value="" selected>Selecione</option>
                            <option ng-repeat="categoria in CategoriaCtrl.Categoria.list" value="{{categoria.id}}">
                                {{categoria.nome}}</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" ng-click="CategoriaCtrl.closeModal()" ng-if="!CategoriaCtrl.modoEdicao">Cancelar</button>
                <button type="button" class="btn btn-danger" ng-click="CategoriaCtrl.remove()" ng-if="CategoriaCtrl.modoEdicao">Exluir</button>
                <button type="button" class="btn btn-primary" ng-click="CategoriaCtrl.create()" ng-if="!CategoriaCtrl.modoEdicao">Salvar</button>
                <button type="button" class="btn btn-primary" ng-click="CategoriaCtrl.Categoria.update(CategoriaCtrl.Categoria.selected)" ng-if="CategoriaCtrl.modoEdicao">Salvar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>